---
import Layout from "@layouts/BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import RoadmapContent from "@content/roadmap.mdx";
// emoji molon en el título
let title = "Roadmap";
let pubDate = new Date("July 19 2025");
let description = "Lista de tareas a hacer para el desarrollo del blog.";

---

<Layout title={title} description={description} pubDate={pubDate}>
    <article>
        <div class="prose">
            <div class="title">
                <h1>{title}</h1>
                <div class="date">
                    <FormattedDate date={pubDate} />
                </div>
                <hr />
            </div>
            <div class="markdown">
                <RoadmapContent />
            </div>
        </div>
    </article>
</Layout>
<style>
    .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
    }

    .title {
        /* padding: 1em 0; */
        text-align: center;
        line-height: 1;
    }

    .date {
        color: rgb(var(--gray));
    }
</style>
<style is:global>
    .markdown h4 {
        margin-top: 1em;
    }
</style>
